.main {
  padding-bottom: 80px;
  text-align: center;
}

.title {
  font-size: 30px;
  font-family: "Amatic SC", sans-serif;
}

.medailon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.medailons {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  background-color: #ffb703;
  font-size: 17px;
  font-family: "Amatic SC", sans-serif;
  border: none;
  border-radius: 30px;
  width: 5rem;
}

.moreInfoBtn {
  width: 8rem
}

.picture {
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 100px;
}

.mainText {
  padding: 2%;
}
