header {
    background: url("img/flaskbcg.jpeg") #04293b;
    background-position: center center;
    background-size: cover;
    /*#33457f;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.app-logo {
    font-family: "Barrio", sans-serif;
    color: #ffb703;
    /*#ffa500;*/
    font-size: 60px;
    margin-bottom: 0;
    font-weight: lighter;
}

.slogan {
    color: #ffb703;
    font-size: 30px;
    font-family: "Amatic SC", sans-serif;
    margin-bottom: 20px;
}

nav {
    width: 100%;
    background-color: #219ebc;
    border-radius: 1em 1em 0em 0em;
    text-align: center;
}

.pending {
    text-decoration: none;
    color: #ffb703;
    font-size: 30px;
    font-weight: bold;
    font-family: "Amatic SC", sans-serif;
}

.active {
    background-color: #ffb703;
    color: #000;
    padding: 0.15rem 0.25rem;
    border-radius: 10px;
    margin: 0 1rem;
    font-size: 30px;
    font-weight: bold;
    font-family: "Amatic SC", sans-serif;
}
