.pictureabout {
    width: 100%;
    display: block;
    margin-top: 20px;
}

.popisek {
    text-align: center;
    color:rgba(0, 0, 0, 0.3);
    font-size: 12px;
    font-weight: bold;
    font-family: 'Raleway', 'sans-serif';
}

.text {
    font-weight: lighter;
    margin: 10px 0;
}

